body{
margin:0;
padding:0;
background:linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url(Maine.png);
background-size:cover;
height:100%;
width:100%;
position: relative;
background-attachment:fixed;
}

/*** Nav ***/
.nav ul{
list-style-type: none;
text-align: center;
}

.nav a{
text-decoration: none;
color:#BEBEBE;
}

.nav a:hover{
    color:#fff;
}

.nav a:active{
    color:#fff;
}

.nav{
top:0;
width:100%;
position:fixed;
}

.nav li{
display:inline;
margin-right:100px;
}
 
/*** Footer ***/
.footer{
width:100%;
height:40px;
bottom:0;
background:#000;
color:#fff;
opacity:0.8;
overflow: hidden;
text-align: center;
margin:0;
padding:10px;
}

.text{
color:rgba(11, 23, 131, 0.651);
text-align: center;
width:100%;
height:50vh;
background: #dad6d6;
margin-top:100vh;
}


.navbar{
    overflow:hidden;
    height:63px;
    position:fixed;
    top:0;
  }
  
  .navbar a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
  }
  
  .navbar ul{
    margin:8px 0 0 0;
    list-style:none;
  }
  
  .navbar a:hover{
    background-color:#ddd;
    color:#000;
  }
  
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  .side-nav a:hover{
    color:#fff;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  
  #main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
  }

  .main-nav {
    display:block;
    top:20vh;
    position:fixed;
    text-align: center;  
    margin-right:3em;
  }

  #dl{
    background-repeat: no-repeat;
  }

  #resume{
    padding-left:16px;
  }

  .main-nav li{
    list-style-type: none;
    text-align: center;
    line-height: 5;
    font-size: 20px;
    font-family: Helvetica;
  }

  .main-nav a{
    text-decoration: none;
    color:#dad6d6;
    opacity:0.4;
  }

  .main-nav a:hover{
    color:#fff;
  }

  .main-nav a:active{
    color:#fff;
  }
  
  @media(max-width:568px){
    .navbar-nav{display:none}
    .main-nav{display:none}
  }
  
  @media(min-width:568px){
    .navbar{display:none}
 
  }
  